!!! 5
%html{lang: 'en'}
  %head
    %title #{data.page.title || "Anton"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}


    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    -# App Icons
    / %link(rel="shortcut icon" href="./images/favicon.ico")
    / %link(rel="apple-touch-icon-precomposed" href="./images/apple-touch-icon-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="./images/apple-touch-icon-57x57-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/apple-touch-icon-72x72-precomposed.png")
    / %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/apple-touch-icon-114x114-precomposed.png")
    %link(rel="shortcut icon" href="./images/favicons/favicon.ico")
    %link(rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-touch-icon-57x57.png")
    %link(rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-touch-icon-114x114.png")
    %link(rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-touch-icon-72x72.png")
    %link(rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-touch-icon-144x144.png")
    %link(rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-touch-icon-60x60.png")
    %link(rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-touch-icon-120x120.png")
    %link(rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-touch-icon-76x76.png")
    %link(rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-touch-icon-152x152.png")
    %link(rel="icon" type="image/png" href="./images/favicons/favicon-196x196.png" sizes="196x196")
    %link(rel="icon" type="image/png" href="./images/favicons/favicon-160x160.png" sizes="160x160")
    %link(rel="icon" type="image/png" href="./images/favicons/favicon-96x96.png" sizes="96x96")
    %link(rel="icon" type="image/png" href="./images/favicons/favicon-16x16.png" sizes="16x16")
    %link(rel="icon" type="image/png" href="./images/favicons/favicon-32x32.png" sizes="32x32")
    %meta(name="msapplication-TileColor" content="#da532c")
    %meta(name="msapplication-TileImage" content="./images/favicons/mstile-144x144.png")
    %meta(name="msapplication-config" content="./images/favicons/browserconfig.xml")




    / Stylesheets
    = stylesheet_link_tag 'light'

    / $BOOTSTRAP  CSS CDN 
    %link(rel="stylesheet"  href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')


  %body{class: current_page.data.body_class || 'page'}
    = yield
    / JQUERY CDN
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
    / JQUERY Fallback
    :javascript
        window.jQuery || document.write('<script src="./fallback/jquery-2.1.1.min.js"><\/script>')

    / BOOTSTRAP JS CDN 
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    / BOOTSTRAP JS Fallback
    :javascript
        if(typeof($.fn.modal) === 'undefined') {document.write('<script src="./fallback/3.1.1/js/bootstrap.min.js"><\/script>')}

    / BOOTSTRAP CSS Fallback
    :javascript
        $(document).ready(function() {
        var itemToCheck = $('.carousel').css('position');
        if(itemToCheck != 'relative') {
        $("head").prepend('<link rel="stylesheet" href="./fallback/3.1.1/css/bootstrap.min.css">');}});

    / FONTAWESOME CSS CDN 
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    / FONTAWESOME CSS Fallback
    :javascript
        $(document).ready(function() {
        var itemToCheck = $('.fa').css('display');
        if(itemToCheck != 'inline-block') {
        $("head").prepend('<link rel="stylesheet" href="./fallback/font-awesome-4.1.0/css/font-awesome.min.css">');}});


    / Javascripts
    = javascript_include_tag "ajCustom.js"

    / Animation by Wow.js
    = javascript_include_tag "wow.min.js"
    :javascript
        new WOW().init();


    - if build?
      -# Google Analytics
      :javascript
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-17064025-1', 'auto');
          ga('send', 'pageview');